@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 70%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

a, button {
    outline: none;
}

.padding {
    padding-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
